{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- for message  -->
<div class="d-flex  justify-content-center z-index-10000">
  <div class="container mt-3 w-50 position-absolute ">
    {% if messages %}
      {% for message in messages %}
        <div class="alert  alert-{{message.tags}} fade show {{message.tags}}  flex-1" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          
        </div>
      {% endfor %}
  {% endif %}
  
  </div>
</div>

<!-- for table  -->
<!-- <h5>Companys Name</h5> -->


<div class="d-flex flex-row-reverse bd-highlight py-3 flxe-gap-2" >
<a href="{% url 'new_employee'%}" class="btn btn-outline-primary px-4 mx-1">Add New Employee</a>
<a href="{% url 'new_company' %}" class="btn btn-outline-primary px-4">Add Company</a>
</div>
<div><h5>Companys Name</h5></div>
<div class="container table-responsive text-nowrap">

    <table class="table table-hover    ">
        <thead>
          <!-- <th class="col-12">CommanyesName</th> -->
          <tr>

            <!-- <td class="col-10 bg-black">Sr No</td> -->
          </tr>
          <tr>
            
        <th class="w-auto">Sr No</th>
        <th style="width: 20%;" class="col">Company</th>
        <th class="col">Employees</th>
        <th class="col">Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divided">
            {% for company in companies %}
            <tr>
              <th scope="col">{{forloop.counter}}</th>
              <td >{{ company.name }}</td>
              <td class="col-12">{{ company.employee_set.all|join:", " }}</td>
              <td ><a class="btn btn-outline-primary px-4" href="{% url 'add_employee' company.id %}"  style="text-decoration: none;" >Add Employee</a></td>
              
            </tr>
            {% endfor %}
          
        </tbody>
      </table>
</div>


{% endblock content %}
